# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/testh/FileContentIndex/ee7cf38f-cbd2-47c4-a273-40092fcc86d7.vsidx
.vs/testh/FileContentIndex/ed10b57e-e5c1-4cf7-a9c9-d1133e6f69f7.vsidx
.vs/testh/v17/.suo
.vs/testh/v17/Browse.VC.db
.vs/testh/v17/Browse.VC.db-shm
.vs/testh/v17/Browse.VC.db-wal
.vs/testh/v17/Browse.VC.opendb
